// contact title

.contactPage header {
    min-height: 70vh;
    background-image: url(../assets/contact-image-1.jpg);
    background-size: cover;
    div h2 {
        @include titleStyles(6.25);
        letter-spacing: 10.9px;
    }
}

.contactPage header div {
    min-height: 45vh;
    display: flex;
    align-items: flex-end;
}

// contact page form

.contactPage main {
    background: $secondaryDarkColour;
    & > div {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    section {
        width: 70%;
    }
}

.contactPage fieldset, 
.contactPage input,
.contactPage textarea {
    background: $darkColour;
    
}

fieldset::placeholder, 
input::placeholder,
textarea::placeholder {
    padding: 40px 0px 0px 30px;
}

.contactPage fieldset {
    padding: 70px;
    width: 100%;
    box-shadow: 20px 20px 0 $mainColour;
    position: relative;
    bottom: 150px;
    textarea {
        height: 260px;
    }
}

.contactPage aside {
    width: 20%;
    p {
        margin: 10px 0;
    }
    ul {
        display: flex;
        padding-left: 0;
        margin-bottom: 30px;
    }
}

// contact page aside

// change logos around, add whatsapp

.contactPage aside p:first-of-type {
    padding-bottom: 30px;
}

.contactPage ul li {
    padding-right: 20px;
    list-style: none;
    a {
        font-size: 2.5rem;
        i {
            color: $mainColour;
        }
    }
}






