.wrapper {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

h1 {
    @include titleStyles(115);
}

h2 {
    @include titleStyles(45);
}

h3 {
    color: $lightColour;
    font-size: 40px;
    font-family: $secondaryFont;
    font-weight: 300;
    margin: 0;
    padding-left: 15px;;
    letter-spacing: 3px;
    position: relative;
    top: 20px;
}

.topNav li a {
    font-family: $secondaryFont;
    font-size: 2rem;
    color: $lightColour;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}