.wrapper {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

h1 {
    @include titleStyles(115);
}

h2 {
    @include titleStyles(45);
    letter-spacing: 4.9px;
    line-height: 58px;
}

h3 {
    color: $lightColour;
    font-size: 40px;
    font-family: $secondaryFont;
    font-weight: 300;
    margin: 0;
    padding-left: 15px;;
    letter-spacing: 3px;
    position: relative;
    top: 20px;
}

.topNav li a {
    font-family: $secondaryFont;
    font-size: 2rem;
    color: $lightColour;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

button {
    height: 50px;
    border: 0;
    background: $secondaryColour;
    font-family: $primaryFont;
    font-size: 3.5rem;
    color: $lightColour;
}

p   {
    font-family: $secondaryFont;
    font-size: 2rem;
    line-height: 32px;
    letter-spacing: 2px;
    color: $lightColour;
}