.mainHead {
    min-height: 85vh;
    background-image: url(../assets/home-image-1.jpg);
    background-size: cover;
    background-position: 0px -100px;
    background-attachment: fixed;
    h1{
        margin: 0;
    }
    .imageContainer {
        max-width: 40%;
        position: relative;
        top: 50px;
    }
    .welcome {
        max-width: 40%;
        margin-left: 40px;
    }
    h3 {
        padding-left: 15px;
        letter-spacing: 3px;
        position: relative;
        top: 20px;
    }
}

.topNav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        display: flex;
        justify-content: space-between;
    }
}

.topNav h2,
.topNav nav {
    width: 50%;
}

.topNav ul li {
    display: flex;
    justify-content: space-evenly;
}

.mainHead .titleBlock{
    display: flex;
    height: 100%;
    .imageContainer {
        align-self: flex-end;
        img {
            filter: sepia(60%);
        }
    }
}

.welcome {
    position: relative;
    top: 170px;
}

// hidden nav menu

.hiddenMenu {
    height: 10vh;
    nav {
        position: relative;
        color: white;
        font-size: 4rem;
    }
}

.hiddenMenu p {
    width: 100%;
    text-align: right;
}

.topNav p i {
    font-size: 4rem;
    color: $mainColour;
    transform: scale(1.5, 1);
}

// /* slide out menu */

.hiddenNav {
    position: relative;
    height: 100vh;
}

.hiddenNav ul {
    background: $darkColour;
    border-right: 5px solid $mainColour;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0px;
	z-index: 1000;
	width: 40%; 
	left: 0%; 
	top: 0;
	height: 100%;
}

.hiddenNav li a {
	border-bottom: 1px solid grey;
    display: inline-block;
    font-family: $secondaryFont;
    font-size: 3rem;
    text-decoration: none;
    color: $lightColour;
	width: 100%;
	padding: 20px;
}