main section:nth-of-type(odd){
    background-color: $secondaryDarkColour;
}

main section:nth-of-type(even){
    background-color: $darkColour;
}

// about section

.about {
    min-height: 80vh;
    padding-bottom: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    div {
        width: calc(70% - 75px)
    }
    picture {
        width: calc(30% - 75px);
        box-shadow: -20px 20px 0 $secondaryColour;
        position: relative;
        bottom: 20px;
    }
    h2 {
        margin-bottom: 0px;
    }
}

// gallery section

.gallery {
    min-height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    picture {
        width: calc((100% / 3) - 25px);
    }
}

// articles section #1

.articles {
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-around;
    article {
        // width: calc(50% - 50px);
        width: 50%;
        padding-left: 20px;
        h2 {
            margin: 0px;
        }
        > div {
            display: flex;
        }
    }
}

.articleContainerTop {
    padding: 80px 0px 50px 0px;
}

.articleContainerBottom {
    padding-bottom: 140px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    height: 50px;
    color: $lightColour;
    font-size: 3rem;
    background: $secondaryColour;
    border-radius: 50%;
    position: relative;
    right: 20px;
}

// articles section #2

.articlesTwo {
    min-height: 95vh;
    position: relative;
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        min-height: 90vh;
    }
    article {
        max-width: 40%;
    }
    picture {
        width: 42%;
    }
}

.articlesTwo picture:first-of-type {
    position: absolute;
    top: -50px;
    left: 0;
    img {
        box-shadow: 20px 20px 0 $mainColour;
    }
}

.articlesTwo picture ~ picture {
    position: absolute;
    bottom: -50px;
    right: 0;
    border: 0;
    img {
        box-shadow: -20px 20px 0 $mainColour;
    }
}

.articlesTwo article:first-of-type {
    align-self: flex-end;
    margin-top: 50px;
}

.articlesTwo article + article {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px;
    p {  
        align-self: flex-start;
    }
}

.articlesTwo h2 {
    margin: 0px;
}

.articlesTwo p {
    letter-spacing: 2px;
    margin: 0px 0px 30px 0px;
    width: 90%;
}

// trial section



.trials div {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p   {
        width: 80%;
        margin-top: 0px;
    }
    h2 {
        margin: 0;
    }
}