@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

h1 {
  font-size: 6.845vw;
  color: #FFC600;
  font-family: "Dokdo", cursive;
}

h2 {
  font-size: 2.678vw;
  color: #FFC600;
  font-family: "Dokdo", cursive;
  letter-spacing: 4.9px;
  line-height: 58px;
}

h3 {
  color: #FAFFFE;
  font-size: 2.381vw;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin: 0;
}

span {
  font-weight: bold;
}

.topNav li a {
  font-family: "Lato", sans-serif;
  font-size: 1.190vw;
  color: #FAFFFE;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.topNav li a:hover, .topNav li a:focus {
  -webkit-transition: all .5s;
  transition: all .5s;
  color: #FFC600;
}

button {
  height: 50px;
  border: 0;
  background: #555F02;
  font-family: "Dokdo", cursive;
  font-size: 2.083vw;
  color: #FAFFFE;
}

button:hover, button:focus {
  color: #FFC600;
  -webkit-transition: all .5s;
  transition: all .5s;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1.190vw;
  line-height: 32px;
  letter-spacing: 2px;
  color: #FAFFFE;
}

.mainHead {
  min-height: 85vh;
  background-image: url(../assets/home-image-1.jpg);
  background-size: cover;
  background-position: 0px -100px;
  background-attachment: fixed;
}

.mainHead h1 {
  margin: 0;
}

.mainHead .imageContainer {
  max-width: 40%;
  position: absolute;
  bottom: 0px;
}

.mainHead .welcome {
  max-width: 40%;
  margin-left: 40px;
}

.mainHead h3 {
  padding-left: 15px;
  letter-spacing: 3px;
  position: relative;
  top: 20px;
}

.topNav {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topNav h2,
.topNav nav {
  width: 50%;
}

.topNav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mainHead .titleBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.mainHead .titleBlock .imageContainer {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.mainHead .titleBlock .imageContainer img {
  -webkit-filter: sepia(60%);
          filter: sepia(60%);
}

.welcome {
  position: relative;
  top: 20vh;
  left: 40%;
}

.hiddenMenu {
  height: 10vh;
}

.hiddenMenu nav {
  position: relative;
  color: white;
  font-size: 4rem;
}

.hiddenMenu p {
  width: 100%;
  text-align: right;
}

.topNav p i {
  font-size: 4rem;
  color: #FFC600;
  -webkit-transform: scale(1.5, 1);
          transform: scale(1.5, 1);
}

.hiddenNav {
  position: relative;
  height: 100vh;
}

.hiddenNav ul {
  background: #262725;
  border-right: 5px solid #FFC600;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 0px;
  z-index: 999;
  width: 40%;
  left: -0%;
  top: 0;
  height: 100%;
}

.hiddenNav ul .logo a {
  font-size: 6vw;
  color: #FFC600;
  font-family: "Dokdo", cursive;
  border-bottom: 0;
  padding-top: 50px;
  margin-bottom: 50px;
  text-transform: none;
}

.hiddenNav li a {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  color: #FAFFFE;
  width: 100%;
  padding: 20px;
}

.blogHead {
  min-height: 70vh;
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
}

.blogHead .topNav {
  height: 10vh;
}

.blogHead h1 {
  font-size: 105px;
  line-height: 69px;
  letter-spacing: 10.9px;
  position: relative;
  top: 150px;
}

.contactPage header {
  min-height: 100vh;
  background-image: url(../assets/contact-image-1.jpg);
  background-size: cover;
}

.contactPage header div h2 {
  font-size: 6.25vw;
  color: #FFC600;
  font-family: "Dokdo", cursive;
  letter-spacing: 10.9px;
}

.contactPage header div {
  min-height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main section:nth-of-type(odd) {
  background-color: #1E140E;
}

main section:nth-of-type(even) {
  background-color: #262725;
}

.about {
  min-height: 80vh;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about div {
  width: calc(70% - 75px);
}

.about picture {
  width: calc(30% - 75px);
  position: relative;
  bottom: 20px;
}

.about picture img {
  -webkit-box-shadow: -20px 20px 0 #555F02;
          box-shadow: -20px 20px 0 #555F02;
}

.about h2 {
  margin-bottom: 0px;
}

.gallery {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery picture {
  width: calc((100% / 3) - 25px);
}

.articles {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.articles article {
  width: 50%;
  padding-left: 20px;
}

.articles article h2 {
  margin: 0px;
}

.articles article > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articleContainerTop {
  padding: 80px 0px 50px 0px;
}

.articleContainerBottom {
  padding-bottom: 140px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 50px;
  height: 50px;
  color: #FAFFFE;
  font-size: 3rem;
  background: #555F02;
  border-radius: 50%;
  position: relative;
  right: 20px;
}

.articlesTwo {
  min-height: 95vh;
  position: relative;
}

.articlesTwo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  min-height: 90vh;
}

.articlesTwo article {
  max-width: 40%;
}

.articlesTwo picture {
  width: 42%;
}

.articlesTwo picture:first-of-type {
  position: absolute;
  top: -50px;
  left: 0;
}

.articlesTwo picture:first-of-type img {
  -webkit-box-shadow: 20px 20px 0 #FFC600;
          box-shadow: 20px 20px 0 #FFC600;
}

.articlesTwo picture ~ picture {
  position: absolute;
  bottom: -50px;
  right: 0;
  border: 0;
}

.articlesTwo picture ~ picture img {
  -webkit-box-shadow: -20px 20px 0 #FFC600;
          box-shadow: -20px 20px 0 #FFC600;
}

.articlesTwo article:first-of-type {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 50px;
}

.articlesTwo article + article {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}

.articlesTwo article + article p {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.articlesTwo h2 {
  margin: 0px;
}

.articlesTwo p {
  letter-spacing: 2px;
  margin: 0px 0px 30px 0px;
  width: 90%;
}

.trials div {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trials div p {
  width: 80%;
  margin-top: 0px;
}

.trials div h2 {
  margin: 0;
}

.blogPost {
  position: relative;
  min-height: 1600px;
}

.blogPost > picture, .blogPost article {
  position: relative;
  bottom: 120px;
}

.blogPost > picture img {
  width: 60%;
  -webkit-box-shadow: 20px 20px 0 #555F02;
          box-shadow: 20px 20px 0 #555F02;
}

.blogPost article {
  width: calc(60% + 20px);
  padding-left: 12%;
  border-right: 7px solid #555F02;
  border-bottom: 7px solid #555F02;
}

.blogPost article h2 {
  margin: 0px 0px 0px 0px;
  padding-top: 100px;
}

.blogPost article p {
  padding-right: 80px;
  padding-bottom: 10px;
  letter-spacing: 3px;
}

.blogPost article:last-of-type {
  padding-bottom: 40px;
}

.blogPost article h3 {
  font-style: italic;
  font-size: 2rem;
  margin-bottom: 40px;
}

aside.ourMission {
  width: calc(20% + 20px);
  position: absolute;
  right: 0;
  top: 150px;
  padding: 0px 20px;
  background-color: #555F02;
}

aside.ourMission img {
  position: relative;
  bottom: 20px;
}

aside.ourMission h3 {
  font-family: "Dokdo", cursive;
}

aside.ourMission p {
  width: 90%;
}

aside.ourMission ul {
  list-style-type: none;
  padding: 0px 0px 20px 10px;
}

aside.ourMission ul li::before {
  content: "•";
  color: #FFC600;
  font-size: 1.190vw;
  padding-right: 20px;
}

aside.ourMission ul li {
  padding-bottom: 10px;
  width: 90%;
}

aside.ourMission ul li a {
  text-decoration: none;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1.190vw;
  letter-spacing: 2.5px;
}

.comments {
  background-color: #1E140E;
  min-height: 75vh;
}

.comments h2 {
  color: #FAFFFE;
  margin-top: 0px;
}

.comments > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 75vh;
  position: relative;
}

.comment1, .comment2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 63%;
}

.comment1 picture, .comment2 picture {
  width: 15%;
}

.comment1 picture img, .comment2 picture img {
  padding-right: 30px;
}

.comment1 div, .comment2 div {
  width: 82%;
}

.comment1 div p:first-of-type, .comment2 div p:first-of-type {
  margin-top: 0;
  color: #FFC600;
}

.commentForm {
  background-color: #1E140E;
  min-height: 65vh;
}

.commentForm fieldset {
  border: 0;
  margin: 0;
  width: 63%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.commentForm fieldset div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input[type=email],
input[type=text] {
  width: calc(50% - 25px);
  margin-bottom: 50px;
  font-size: 1.190vw;
  padding-left: 50px;
  color: #FAFFFE;
  background-color: #1E140E;
  border: 0;
  border-bottom: 2px solid #FFC600;
  height: 80px;
}

textarea {
  padding: 50px;
  color: #FAFFFE;
  font-family: "Lato", sans-serif;
  font-size: 1.190vw;
}

input::-webkit-input-placeholder {
  padding-top: 40px;
}

input:-ms-input-placeholder {
  padding-top: 40px;
}

input::-ms-input-placeholder {
  padding-top: 40px;
}

input::placeholder {
  padding-top: 40px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 1.190vw;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #FAFFFE;
  line-height: 32px;
  letter-spacing: 2px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 1.190vw;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #FAFFFE;
  line-height: 32px;
  letter-spacing: 2px;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-size: 1.190vw;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #FAFFFE;
  line-height: 32px;
  letter-spacing: 2px;
}

input::placeholder,
textarea::placeholder {
  font-size: 1.190vw;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #FAFFFE;
  line-height: 32px;
  letter-spacing: 2px;
}

textarea {
  width: 100%;
  height: 220px;
  background-color: #1E140E;
  border: 2px solid #FFC600;
  resize: none;
  margin-bottom: 40px;
}

button[type=submit] {
  width: 100%;
}

.contactPage main {
  background: #1E140E;
}

.contactPage main > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.contactPage main section {
  width: 70%;
}

.contactPage fieldset,
.contactPage input,
.contactPage textarea {
  background: #262725;
}

.contactPage fieldset {
  padding: 70px;
  width: 100%;
  -webkit-box-shadow: 20px 20px 0 #FFC600;
          box-shadow: 20px 20px 0 #FFC600;
  position: relative;
  bottom: 150px;
}

.contactPage fieldset textarea {
  height: 260px;
}

.contactPage aside {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactPage aside p {
  margin: 10px 0;
}

.contactPage aside ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-bottom: 30px;
}

.contactPage aside p:first-of-type {
  padding-bottom: 30px;
}

.contactPage aside li {
  padding-right: 20px;
  list-style: none;
}

.contactPage aside li a {
  font-size: 2.5rem;
}

.contactPage aside li a i {
  color: #FFC600;
}

footer {
  background: #262725;
}

footer p {
  margin: 0;
  text-align: center;
  padding: 5px 0px;
}

@media (max-width: 1180px) {
  .mainHead .titleBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .mainHead .imageContainer {
    max-width: 70%;
    top: 0px;
  }
  .mainHead .welcome {
    margin: 50px auto;
    top: 0px;
    left: 0px;
    max-width: 100%;
    text-align: center;
  }
  .mainHead .titleBlock .imageContainer {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0px auto 80px auto;
    position: relative;
    right: 10px;
  }
  .mainHead .titleBlock .imageContainer img {
    -webkit-box-shadow: 20px 20px 0 #FFC600;
            box-shadow: 20px 20px 0 #FFC600;
  }
  .mainHead h1 {
    margin-top: 30px;
  }
  .about {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 60vh;
    padding-top: 60px;
  }
}

@media (max-width: 940px) {
  p {
    font-size: 2.4vw;
  }
  button {
    font-size: 4.2vw;
  }
  h2 {
    font-size: 5.2vw;
  }
  h3 {
    font-size: 4.8vw;
  }
  .contactPage main section {
    width: 80%;
    margin: 0 auto;
  }
  .contactPage fieldset {
    bottom: 50px;
    padding: 25px;
  }
  .contactPage aside {
    width: 40%;
    margin: 50px auto;
    text-align: center;
  }
  .contactPage main > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactPage aside ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .commentForm fieldset div:first-of-type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  input[type=email], input[type=text] {
    padding-left: 20px;
    width: 100%;
  }
  textarea, textarea::-webkit-input-placeholder {
    font-size: 1.190vw;
    padding-left: 20px;
  }
  textarea, textarea:-ms-input-placeholder {
    font-size: 1.190vw;
    padding-left: 20px;
  }
  textarea, textarea::-ms-input-placeholder {
    font-size: 1.190vw;
    padding-left: 20px;
  }
  textarea, textarea::placeholder {
    font-size: 1.190vw;
    padding-left: 20px;
  }
  .topNav > nav {
    display: none;
  }
  .hiddenMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 999;
  }
  .hiddenMenu i {
    display: block;
    z-index: 998;
  }
  .topNav i {
    display: block;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about div {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
  }
  .about picture {
    width: 60%;
    margin: 0 auto;
    bottom: -20px;
  }
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 100px 0px;
  }
  .gallery picture {
    width: 75%;
  }
  .gallery picture:first-of-type {
    margin-bottom: 50px;
  }
  .gallery picture:last-of-type {
    margin-top: 50px;
  }
  .articles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .articles article {
    width: 100%;
  }
  .articleContainerTop,
  .articleContainerBottom {
    padding: 40px 0px 20px 0px;
  }
  .phone {
    padding-bottom: 50px;
  }
  .articlesTwo picture:first-of-type {
    top: 120px;
    left: 50px;
  }
  .articlesTwo picture ~ picture {
    bottom: 120px;
    right: 50px;
  }
  .blogPost {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogPost picture {
    left: -20px;
  }
  .blogPost article {
    width: 90%;
  }
  .blogPost > picture img {
    width: 90%;
  }
  aside.ourMission {
    width: 70%;
    position: relative;
    top: -50px;
    margin: 0 auto;
  }
  aside.ourMission ul li a {
    font-size: 2.4vw;
  }
  aside.ourMission h3 {
    padding-left: 30px;
  }
  aside.ourMission p {
    padding-left: 30px;
  }
  .comment1, .comment2 {
    width: 100%;
  }
  .comment1 img, .comment2 img {
    position: relative;
    top: 50px;
  }
  .commentForm fieldset {
    width: 100%;
  }
  input[type=email],
  input[type=text],
  textarea,
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    font-size: 2.4vw;
  }
  input[type=email],
  input[type=text],
  textarea,
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    font-size: 2.4vw;
  }
  input[type=email],
  input[type=text],
  textarea,
  input::-ms-input-placeholder,
  textarea::-ms-input-placeholder {
    font-size: 2.4vw;
  }
  input[type=email],
  input[type=text],
  textarea,
  input::placeholder,
  textarea::placeholder {
    font-size: 2.4vw;
  }
  .blogMain fieldset {
    padding-bottom: 50px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 8.9vw;
  }
  .hiddenNav ul {
    width: 60%;
  }
  .articlesTwo div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .articlesTwo picture {
    width: 70%;
    position: relative;
    bottom: 500px;
  }
  .articlesTwo picture:first-of-type {
    top: 70px;
  }
  .articlesTwo picture ~ picture {
    bottom: 340px;
  }
  .articlesTwo article {
    max-width: 100%;
  }
  .articlesTwo article:first-of-type {
    padding: 70% 0px 80% 0px;
  }
  .articlesTwo article ~ article {
    margin-bottom: 40px;
  }
  input[type=email],
  input[type=text],
  textarea,
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    font-size: 3.2vw;
  }
  input[type=email],
  input[type=text],
  textarea,
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    font-size: 3.2vw;
  }
  input[type=email],
  input[type=text],
  textarea,
  input::-ms-input-placeholder,
  textarea::-ms-input-placeholder {
    font-size: 3.2vw;
  }
  input[type=email],
  input[type=text],
  textarea,
  input::placeholder,
  textarea::placeholder {
    font-size: 3.2vw;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 11vw;
  }
  p {
    font-size: 3.4vw;
  }
  h3 {
    font-size: 7vw;
  }
  button {
    font-size: 3rem;
  }
  input[type=email],
  input[type=text],
  textarea,
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    font-size: 4vw;
  }
  input[type=email],
  input[type=text],
  textarea,
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    font-size: 4vw;
  }
  input[type=email],
  input[type=text],
  textarea,
  input::-ms-input-placeholder,
  textarea::-ms-input-placeholder {
    font-size: 4vw;
  }
  input[type=email],
  input[type=text],
  textarea,
  input::placeholder,
  textarea::placeholder {
    font-size: 4vw;
  }
  .mainHead {
    min-height: 100vh;
  }
  .blogHead {
    min-height: 100vh;
  }
  .blogPost > picture, .blogPost article {
    bottom: 0px;
  }
  .blogPost article h3 {
    font-size: 1.5rem;
  }
  .blogPost article h2 {
    font-size: 4.5rem;
    padding-bottom: 10px;
  }
  .blogPost article p {
    padding-right: 20px;
  }
  .mainHead .titleBlock .imageContainer img {
    -webkit-filter: sepia(0%);
            filter: sepia(0%);
  }
  .contactPage header div h2 {
    font-size: 4rem;
    text-align: center;
  }
  .trials div button {
    margin-bottom: 60px;
  }
  .trials div h2 {
    margin-top: 40px;
  }
}
